---
title: Home
layout: page
---

<ul style="list-style-type: none;">
  {% for post in paginator.posts %}
  <li>
    <h3>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>
    <h5>{{post.date | date: '%B %d, %Y'}}</h5>
    {{ post.excerpt }} {% for tag in post.tags %}
    <a href="{{ site.base | append: '/blog/tags.html#' | append: tag }}"
      ><small>{{ tag }}</small></a
    >
    {% endfor %}
    <hr
      style="height: 2px; border-width: 0; color: gray; background-color: gray;"
    />
    <br />
  </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination" style="text-align: center;">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">
    Previous
  </a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next">Next</span>
  {% endif %}
  <br />
  subscribe via
  <a href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"
    >RSS</a
  >
</div>
